*.asv
*.m~37f0e951d805c7a783e0b59d17e458cc80fcf499
*.m~HEAD
*.aux
*.bbl
*.blg
*.log
*.bak
*.gz

+aae550/+final/~$nal Writeup.docx

+aae550/+final/~$stract.docx

+aae550/+final/@Burner/Burner.m~

*.m~

+aae550/+final/getBurnerThrust.m~

+aae550/+final/fx.m~

+aae550/+final/gx.m~

+aae550/+final/memBurner.m~

*.m~

+aae550/+final/@Burner/Burner.m~

+aae550/+final/@Burner/Burner.m~

+aae550/+final/fx.m~

+aae550/+final/getBurnerThrust.m~
